#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -ic --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#

#
# Ignore standard build artifacts
#
*.a
*.o
*.d
*.obj
*.exe
*.pdb
*.ilk

#
# Ignore build artifacts from host projects (extension
# appended with 't' to allow host and target build
# artifacts to coexist)
#
*.to
*.tobj

#
# Ignore temporary backup files, lock files, autosave files
#
*~
.#*
\#*\#

#
# Ignore IDE config files
#
*.suo
*.user
*.atsuo
*.pro.user
.vscode

#
# Ignore Doxygen output directories and artifacts
#
doc/html
doc/latex
doc/TagFile

#
# Ignore tags files from ctags/etags/global
#
tags
TAGS
GPATH
GSYMS
GRTAGS
GTAGS
